#mobileheader
    .mobileheader-v1
        .mobile__top
            .mobile__city
                <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1691 12.6784H15.2061L9.11378 20.2244H7.87801L1.782 12.6784H1.81903C0.934557 11.3857 0.460693 9.85458 0.459717 8.28644C0.459717 6.14826 1.306 4.09766 2.81238 2.58573C4.31876 1.07381 6.36185 0.224426 8.4922 0.224426C10.6225 0.224426 12.6656 1.07381 14.172 2.58573C15.6784 4.09766 16.5247 6.14826 16.5247 8.28644C16.5248 9.85419 16.0522 11.3853 15.1691 12.6784ZM8.4959 2.86009C7.48895 2.86023 6.50091 3.13479 5.63728 3.65446C4.77365 4.17413 4.06682 4.9194 3.5922 5.81075C3.11759 6.70209 2.89306 7.70605 2.94249 8.71548C2.99192 9.72491 3.31344 10.7019 3.87286 11.5423H3.85808L8.23515 17.0579H8.75664L13.1782 11.5423H13.1177C13.677 10.702 13.9986 9.72511 14.0481 8.71578C14.0976 7.70646 13.8731 6.70259 13.3986 5.81129C12.9241 4.91999 12.2175 4.1747 11.3541 3.65494C10.4906 3.13518 9.50274 2.86046 8.4959 2.86009ZM8.4959 10.3019C8.12928 10.3019 7.77087 10.1928 7.46604 9.9884C7.16121 9.78397 6.92367 9.4934 6.78337 9.15345C6.64307 8.81349 6.60632 8.43941 6.67785 8.07852C6.74937 7.71763 6.92592 7.38612 7.18516 7.12593C7.44439 6.86574 7.77466 6.68855 8.13423 6.61677C8.49381 6.54498 8.86656 6.58182 9.20527 6.72264C9.54398 6.86345 9.83345 7.10191 10.0371 7.40786C10.2408 7.71381 10.3495 8.07352 10.3495 8.44148C10.3495 8.93491 10.1543 9.40812 9.80664 9.75703C9.45901 10.1059 8.98752 10.3019 8.4959 10.3019Z" fill="#F16522"/>
                </svg>
                | Бердск
                <svg width="4" height="3" viewBox="0 0 4 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.48579 1.39813H1.72583L2.09554 1.78838L2.48579 1.39813Z" fill="#222222" stroke="#222222"/>
                </svg>
            .right-icons.pull-right
                .pull-right
                    .wrap_icon
                        button.inline-search-show.twosmallfont
                            i.svg.inline.svg-inline-search
                                <svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 12.4305C15.9958 14.3423 15.2409 16.1785 13.8929 17.5559C12.6158 18.8675 10.9214 19.7106 9.09045 19.9454V21.0325H11.2972C11.899 21.0325 12.3876 21.4961 12.3876 22.0675C12.3876 22.6364 11.899 23.1001 11.2972 23.1001H4.70147C4.10086 23.1001 3.61103 22.6364 3.61103 22.0675C3.61103 21.4961 4.10086 21.0325 4.70147 21.0325H6.90956V19.9454C5.07872 19.7102 3.38446 18.8672 2.10712 17.5559C0.759107 16.1785 0.00415406 14.3423 0 12.4305C0 11.8603 0.488599 11.3967 1.09044 11.3967C1.69106 11.3967 2.18089 11.8603 2.18089 12.4305C2.18089 15.4737 4.79015 17.9493 8 17.9493C11.2086 17.9493 13.8191 15.4738 13.8191 12.4293C13.8191 11.8603 14.3077 11.3967 14.9096 11.3967C15.5114 11.3967 16 11.8603 16 12.4305ZM3.1262 12.4305V4.72186C3.1262 2.1737 5.31323 0.100067 8 0.100067C10.6868 0.100067 12.8726 2.1737 12.8726 4.72186V12.4305C12.8726 14.9786 10.6868 17.0511 7.9988 17.0511C5.31326 17.0511 3.1274 14.9786 3.1274 12.4305H3.1262ZM10.6917 4.72186C10.6917 3.31402 9.48431 2.16886 8 2.16886C6.51569 2.16886 5.30829 3.31402 5.30829 4.72186V12.4305C5.30829 13.8383 6.51446 14.9835 8 14.9835C9.48431 14.9835 10.6917 13.8383 10.6917 12.4293V4.72186Z" fill="#222222"/>
                                </svg>
                .pull-right
                    .wrap_icon
                        button.inline-search-show.twosmallfont
                            i.svg.inline.svg-inline-search
                                <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7119 20.7422C20.6195 20.8353 20.5096 20.9092 20.3886 20.9597C20.2675 21.0101 20.1377 21.0361 20.0066 21.0361C19.8754 21.0361 19.7456 21.0101 19.6245 20.9597C19.5035 20.9092 19.3936 20.8353 19.3012 20.7422L14.6517 16.0957C12.8562 17.5377 10.5767 18.2375 8.28135 18.0512C5.98601 17.865 3.84912 16.8069 2.30954 15.0943C0.769968 13.3818 -0.0554661 11.1446 0.00289669 8.8425C0.0612595 6.54036 0.998906 4.34795 2.62328 2.71557C4.24765 1.08319 6.43552 0.134756 8.73735 0.0650733C11.0392 -0.00460937 13.2802 0.809751 15.0003 2.34088C16.7205 3.87202 17.7891 6.0037 17.9866 8.29809C18.1841 10.5925 17.4956 12.8754 16.0625 14.678L20.7119 19.3255C20.8059 19.418 20.8807 19.5282 20.9316 19.6498C20.9826 19.7715 21.0088 19.902 21.0088 20.0339C21.0088 20.1657 20.9826 20.2963 20.9316 20.4179C20.8807 20.5395 20.8059 20.6498 20.7119 20.7422ZM9.07825 2.15515C7.7028 2.15515 6.3582 2.56302 5.21456 3.32717C4.07092 4.09133 3.1796 5.17746 2.65324 6.4482C2.12687 7.71895 1.98918 9.11725 2.25752 10.4663C2.52585 11.8153 3.18821 13.0544 4.1608 14.027C5.13339 14.9996 6.37253 15.6619 7.72155 15.9303C9.07057 16.1986 10.4689 16.0609 11.7396 15.5345C13.0104 15.0082 14.0965 14.1168 14.8606 12.9732C15.6248 11.8295 16.0326 10.485 16.0326 9.10953C16.0326 7.26512 15.2999 5.49624 13.9957 4.19205C12.6915 2.88785 10.9227 2.15515 9.07825 2.15515Z" fill="#222222"/>
                                </svg>
        .mobile__buttom
            .burger.pull-left
                .svg.inline.svg-inline-burger.dark
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 0.318237H17C17.2652 0.318237 17.5196 0.423593 17.7071 0.61113C17.8946 0.798666 18 1.05302 18 1.31824C18 1.58345 17.8946 1.83781 17.7071 2.02534C17.5196 2.21288 17.2652 2.31824 17 2.31824H1C0.734784 2.31824 0.480444 2.21288 0.292908 2.02534C0.105371 1.83781 0 1.58345 0 1.31824C0 1.05302 0.105371 0.798666 0.292908 0.61113C0.480444 0.423593 0.734784 0.318237 1 0.318237ZM1 7.31824H17C17.2652 7.31824 17.5196 7.42359 17.7071 7.61113C17.8946 7.79867 18 8.05302 18 8.31824C18 8.58345 17.8946 8.83781 17.7071 9.02534C17.5196 9.21288 17.2652 9.31824 17 9.31824H1C0.734784 9.31824 0.480444 9.21288 0.292908 9.02534C0.105371 8.83781 0 8.58345 0 8.31824C0 8.05302 0.105371 7.79867 0.292908 7.61113C0.480444 7.42359 0.734784 7.31824 1 7.31824ZM1 14.3182H17C17.2652 14.3182 17.5196 14.4236 17.7071 14.6111C17.8946 14.7987 18 15.053 18 15.3182C18 15.5835 17.8946 15.8378 17.7071 16.0253C17.5196 16.2129 17.2652 16.3182 17 16.3182H1C0.734784 16.3182 0.480444 16.2129 0.292908 16.0253C0.105371 15.8378 0 15.5835 0 15.3182C0 15.053 0.105371 14.7987 0.292908 14.6111C0.480444 14.4236 0.734784 14.3182 1 14.3182Z" fill="#222222"/>
                    </svg>
            .logo-block.pull-left
                .logo
                    a(href="./")
                        img(src="./images/icon/logo.svg", alt="logo")
            .mobile__phone.pull-right
                a(href="tel:+73832331917") +7 (383) 233-19-17
                a(href="mailto:info@termorobot.ru") info@termorobot.ru
footer#footer
    .footer__mobile
        .footer__row
            .footer__block-small
                .title
                    a(href="#") Компания
                .wrap
                    a(href="#") Наши достижения
                    a(href="#") Интеллектуальная собственность
                    a(href="#") История
                    a(href="#") Вакансии
                    a(href="#") Информация по охране труда
            .footer__block-small
                .title
                    a(href="#") Каталог
                .wrap
                    a(href="#") Котлы и котельные
                    a(href="#") Запасные части
                    a(href="#") Доп оборудование
                    a(href="#") Сопутствующие услуги
        .footer__row
            .footer__block
                .title
                    a(href="#") Проектировщикам
                .wrap
                    a(href="#") Техническая документация
                    a(href="#") КПД и экологические показатели котлов
                    a(href="#") Рекомендации по выбору
                    a(href="#") Сертификаты, патенты, дипломы
                    a(href="#") Чертежи и схемы
                    a(href="#") Нормативные документы
                    a(href="#") Техническая документация
                    a(href="#") КПД и эко-показатели автоматических котлов
        .footer__row
            .footer__block
                .title
                    a(href="#") Наши контакты
                .wrap
                    .footer__phone
                        a(href="tel:+73832331917") 
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2375 11.8415C15.2427 11.7654 15.2321 11.6891 15.2063 11.6176C14.9971 11.3607 14.725 11.1658 14.4181 11.0529C13.8302 10.7144 13.2287 10.3822 12.647 10.0319C12.3831 9.79292 12.0658 9.62472 11.7234 9.54223C11.0906 9.54223 10.167 11.4708 9.6061 11.4708C9.28233 11.402 8.97752 11.26 8.71375 11.0551C6.91099 10.0672 5.43428 8.55135 4.47089 6.69973C4.27147 6.42975 4.13296 6.11757 4.06537 5.7858C4.06537 5.21151 5.94182 4.2633 5.94182 3.61401C5.86117 3.26232 5.69715 2.93657 5.46437 2.6658C5.12556 2.07009 4.8024 1.45187 4.47089 0.845443C4.36078 0.530232 4.17076 0.250966 3.92047 0.0365145C3.8512 0.00852425 3.77691 -0.00389712 3.70259 8.59685e-05C3.2073 0.0310724 2.72012 0.14395 2.25981 0.334372C1.77147 0.638838 1.38829 1.09299 1.16417 1.63294C0.824378 2.23509 0.640937 2.91692 0.63147 3.61294C0.708145 4.57772 0.950623 5.52088 1.34765 6.39866C1.57026 7.04972 1.85814 7.67523 2.20664 8.26509C3.51308 10.2975 5.20767 12.0358 7.18757 13.3747C7.76142 13.7333 8.37002 14.0296 9.00356 14.2587C9.86049 14.6667 10.781 14.9155 11.7223 14.9937C12.4001 14.985 13.0645 14.798 13.6519 14.4504C14.1782 14.2202 14.6209 13.8259 14.9175 13.3233C15.101 12.8503 15.2091 12.3499 15.2375 11.8415Z" fill="#A7A7A7"/>
                            </svg>
                            | +7 (383) 233-19-17
                        p Пн — Пт: 
                            span с 9:00 до 17:00
                    .footer__adress
                        p 
                            <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0763 10.1911H11.1041L6.53486 15.8506H5.60803L1.03602 10.1911H1.0638C0.400442 9.22154 0.0450439 8.0732 0.0443115 6.8971C0.0443115 5.29346 0.679022 3.75551 1.80881 2.62157C2.9386 1.48763 4.47091 0.850586 6.06868 0.850586C7.66644 0.850586 9.19875 1.48763 10.3285 2.62157C11.4583 3.75551 12.093 5.29346 12.093 6.8971C12.0931 8.07291 11.7387 9.22122 11.0763 10.1911ZM6.07145 2.82733C5.31624 2.82744 4.57521 3.03336 3.92749 3.42311C3.27976 3.81286 2.74964 4.37182 2.39368 5.04033C2.03771 5.70883 1.86932 6.4618 1.90639 7.21887C1.94346 7.97595 2.18461 8.70871 2.60417 9.33896H2.59308L5.87589 13.4757H6.26701L9.58319 9.33896H9.53776C9.95728 8.70877 10.1985 7.9761 10.2356 7.2191C10.2727 6.46211 10.1043 5.70921 9.74848 5.04073C9.39263 4.37226 8.86266 3.81329 8.21507 3.42347C7.56748 3.03365 6.82658 2.82761 6.07145 2.82733ZM6.07145 8.40873C5.79648 8.40873 5.52768 8.32689 5.29906 8.17357C5.07043 8.02024 4.89227 7.80232 4.78705 7.54735C4.68183 7.29239 4.65427 7.01183 4.70791 6.74116C4.76155 6.47049 4.89396 6.22186 5.08839 6.02672C5.28282 5.83157 5.53052 5.69868 5.8002 5.64484C6.06988 5.591 6.34945 5.61863 6.60348 5.72424C6.85751 5.82985 7.07462 6.0087 7.22738 6.23816C7.38014 6.46763 7.46169 6.7374 7.46169 7.01338C7.46169 7.38345 7.31522 7.73836 7.0545 8.00004C6.79378 8.26172 6.44016 8.40873 6.07145 8.40873Z" fill="#A7A7A7"/>
                            </svg>
                            | 633004, НСО, Бердск, Химзаводская, 11/17
                    .footer__mail
                        a(href="mailto:info@termorobot.ru")
                            <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8272 15H2.26103C1.66137 15 1.08627 14.7569 0.66224 14.3241C0.238215 13.8913 0 13.3043 0 12.6923V2.30769C0 1.69565 0.238215 1.10868 0.66224 0.675907C1.08627 0.243131 1.66137 0 2.26103 0L15.8272 0C16.4269 0 17.002 0.243131 17.426 0.675907C17.85 1.10868 18.0882 1.69565 18.0882 2.30769V12.6923C18.0882 13.3043 17.85 13.8913 17.426 14.3241C17.002 14.7569 16.4269 15 15.8272 15ZM3.99524 2.30769L9.06108 7.47923L14.1314 2.30769H3.99524ZM15.8272 4.03846L9.97905 10.005C9.85907 10.1262 9.71508 10.2197 9.55676 10.2794C9.39843 10.3391 9.22942 10.3636 9.06108 10.3512C8.89291 10.3634 8.72412 10.3389 8.566 10.2792C8.40788 10.2195 8.26408 10.126 8.14423 10.005L2.26103 4.00038V12.6923H15.8272V4.03846Z" fill="#A7A7A7"/>
                            </svg>
                            | info@termorobot.ru
                    .footer__service
                        p Технический сервис
                        a(href="tel:+79132028577") +7 913 202-85-77

